.git-tracked--wrapper {
  width: 91.666667%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.git-tracked--nochange {
  margin-top: 2.5rem;
  width: 91.666667%;
  border-radius: 0.125rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1.5rem;
  --bg-opacity: 1;
  background-color: #fed7e2;
  background-color: rgba(254, 215, 226, var(--bg-opacity));
  font-size: 1.25rem;
  --text-opacity: 1;
  color: #d53f8c;
  color: rgba(213, 63, 140, var(--text-opacity));
}

.git-tracked--alert {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-width: 2px;
  --border-opacity: 1;
  border-color: #f7fafc;
  border-color: rgba(247, 250, 252, var(--border-opacity));
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.git-tracked--alert--icon {
  display: flex;
  font-size: 4rem;
  margin-top: 5rem;
  text-align: center;
  --text-opacity: 1;
  color: #e2e8f0;
  color: rgba(226, 232, 240, var(--text-opacity));
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
}

.git-tracked--alert--msg {
  display: block;
  font-size: 4rem;
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.git-tracked--topmenu {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
  justify-content: space-around;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  border-radius: 0.125rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.git-tracked--menu-default {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
  border-right-width: 1px;
  --border-opacity: 1;
  border-color: #63b3ed;
  border-color: rgba(99, 179, 237, var(--border-opacity));
}

.git-tracked--menu-default:hover {
  --bg-opacity: 1;
  background-color: #bee3f8;
  background-color: rgba(190, 227, 248, var(--bg-opacity));
  --text-opacity: 1;
  color: #2a4365;
  color: rgba(42, 67, 101, var(--text-opacity));
}

.git-tracked--diff {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
}

.git-tracked--untracked--label {
  --bg-opacity: 1;
  background-color: #ebf4ff;
  background-color: rgba(235, 244, 255, var(--bg-opacity));
  --text-opacity: 1;
  color: #434190;
  color: rgba(67, 65, 144, var(--text-opacity));
  display: flex;
  padding: 0.5rem;
  display: block;
  width: 91.666667%;
  word-break: break-all;
}

.git-tracked--untracked--status {
  border-radius: 0.125rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  padding: 0.5rem;
  text-align: center;
  width: 16.666667%;
  font-size: 0.875rem;
  margin-top: auto;
  margin-bottom: auto;
}

.git-tracked--changes {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.git-tracked--changes--status {
  border-radius: 0.125rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  padding: 0.5rem;
  text-align: center;
  width: 16.666667%;
  margin-top: auto;
  margin-bottom: auto;
}