.leftpane--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  --bg-opacity: 1;
  background-color: #ebf8ff;
  background-color: rgba(235, 248, 255, var(--bg-opacity));
  cursor: pointer;
}

.dashboard-leftpane__logo {
  background: url("../../assets/gitconvex.png");
  background-size: cover;
  width: 70px;
  height: 70px;
}

@media only screen and (max-width: 1500px) {
  .dashboard-leftpane__logo {
      width: 60px;
      height: 60px;
  }
}

@media only screen and (max-width: 1080px) {
  .dashboard-leftpane__logo {
      width: 50px;
      height: 50px;
  }
}