.repo-details {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  justify-content: space-evenly;
}

.action-view {
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-weight: 600;
  --bg-opacity: 1;
  background-color: #f56565;
  background-color: rgba(245, 101, 101, var(--bg-opacity));
  font-size: 1.875rem;
  cursor: pointer;
  text-align: center;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  vertical-align: middle;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  align-items: center;
  vertical-align: middle;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-right: 1.25rem;
}

.backdrop-view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  overflow: auto;
}

.commitlogs-view {
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-weight: 600;
  --bg-opacity: 1;
  background-color: #f56565;
  background-color: rgba(245, 101, 101, var(--bg-opacity));
  font-size: 1.875rem;
  cursor: pointer;
  text-align: center;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  vertical-align: middle;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  align-items: center;
  vertical-align: middle;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-right: 1.25rem;
}

.repo-leftpane {
  display: block;
  border-radius: 0.375rem;
  width: 91.666667%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-width: 2px;
  border-style: dotted;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203, 213, 224, var(--border-opacity));
  padding: 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.repo-leftpane--remote {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.repo-leftpane--remote--host {
  width: 75%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-width: 1px;
  border-style: dashed;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  vertical-align: middle;
}

.repo-leftpane--remote--name {
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
  border-bottom-width: 1px;
  border-style: dashed;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203, 213, 224, var(--border-opacity));
  width: 75%;
  text-align: center;
}

.add-btn {
  border-radius: 9999px;
  align-items: center;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  font-size: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.tooltip {
  padding: 0.5rem;
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  width: 8rem;
  text-align: center;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.remote--url {
  --text-opacity: 1;
  color: #63b3ed;
  color: rgba(99, 179, 237, var(--text-opacity));
  cursor: pointer;
  width: 50%;
  overflow-wrap: break-word;
}

.remote--url:hover {
  --text-opacity: 1;
  color: #4299e1;
  color: rgba(66, 153, 225, var(--text-opacity));
}

.flex-even {
  display: flex;
  justify-content: space-evenly;
}

.commitlogs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.commitlogs--label {
  width: 25%;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.commitlogs--content {
  width: 50%;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 0.75rem;
  text-align: center;
  --bg-opacity: 1;
  background-color: #fbd38d;
  background-color: rgba(251, 211, 141, var(--bg-opacity));
  cursor: pointer;
}

.commitlogs--content:hover {
  background-color: #fcc972;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
}

.repo-rightpane {
  display: block;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-width: 2px;
  border-style: dotted;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203, 213, 224, var(--border-opacity));
  padding: 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.total-commits {
  text-align: left;
  font-weight: 700;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
  width: 50%;
}

.latest-commit {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 700;
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.branch-list {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
  align-items: center;
}

.branch-list--current {
  font-size: 1.125rem;
  font-weight: 600;
  --text-opacity: 1;
  color: #667eea;
  color: rgba(102, 126, 234, var(--text-opacity));
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom-width: 1px;
  border-style: dotted;
  cursor: pointer;
}

.branch-list--current:hover {
  border-style: dashed;
  --text-opacity: 1;
  color: #5a67d8;
  color: rgba(90, 103, 216, var(--text-opacity));
}

.branch-list--branches {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom-width: 1px;
  border-style: dotted;
  cursor: pointer;
}

.branch-list--branches:hover {
  border-style: dashed;
  --text-opacity: 1;
  color: #7f9cf5;
  color: rgba(127, 156, 245, var(--text-opacity));
}

.branch-list__listbranch {
  border-bottom-width: 1px;
  border-style: dashed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-opacity: 1;
  color: #4299e1;
  color: rgba(66, 153, 225, var(--text-opacity));
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.branch-list__listbranch:hover {
  --text-opacity: 1;
  color: #2c5282;
  color: rgba(44, 82, 130, var(--text-opacity));
}

.repo-info {
  vertical-align: middle;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-width: 2px;
  --border-opacity: 1;
  border-color: #f7fafc;
  border-color: rgba(247, 250, 252, var(--border-opacity));
  padding: 1rem;
  justify-content: space-evenly;
}

.repo-info--label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
  font-size: 1.125rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.repo-info--data {
  padding: 0.75rem;
  border-radius: 0.125rem;
  border-width: 1px;
}
