.repo-backdrop--addbranch {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.addbranch--input,
.backdrop--input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  font-size: 1.25rem;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--border-opacity));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.addbranch--btn {
  --bg-opacity: 1;
  background-color: #667eea;
  background-color: rgba(102, 126, 234, var(--bg-opacity));
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.addbranch--btn:hover {
  --bg-opacity: 1;
  background-color: #5a67d8;
  background-color: rgba(90, 103, 216, var(--bg-opacity));
}

.backdrop--alert {
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 1.25rem;
  border-bottom-width: 4px;
  border-style: dotted;
}

.repo-backdrop--addremote {
  width: 91.666667%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  padding-top: 1.5rem;
  border-radius: 0.375rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.addremote--header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
}

.addremote--btn {
  width: 100%;
  margin-top: 2.5rem;
  padding: 0.75rem;
  text-align: center;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: #c6f6d5;
  background-color: rgba(198, 246, 213, var(--bg-opacity));
  border-width: 1px;
  --border-opacity: 1;
  border-color: #2f855a;
  border-color: rgba(47, 133, 90, var(--border-opacity));
}

.addremote--btn:hover {
  --bg-opacity: 1;
  background-color: #38a169;
  background-color: rgba(56, 161, 105, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.addremote--form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  vertical-align: middle;
  align-items: center;
}

.addremote--form--label {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 33.333333%;
}

.addremote--alert {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25rem;
  font-weight: 600;
  border-width: 1px;
}

.repo-backdrop--branchlist {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  padding: 1.5rem;
  width: 91.666667%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  vertical-align: middle;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.branchlist--header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 2.25rem;
  font-weight: 600;
  border-bottom-width: 2px;
  border-style: dashed;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
}

.branchlist--warn {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom-width: 2px;
  border-style: dashed;
  --text-opacity: 1;
  color: #e53e3e;
  color: rgba(229, 62, 62, var(--text-opacity));
  --border-opacity: 1;
  border-color: #9b2c2c;
  border-color: rgba(155, 44, 44, var(--border-opacity));
  align-items: center;
  vertical-align: middle;
}

.branchlist--infotext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  font-weight: 300;
  font-style: italic;
  font-weight: 600;
  border-bottom-width: 2px;
  border-style: dashed;
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.branchlist--list-area {
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  overflow: auto;
  overflow-x: hidden;
}

.list-area--msg {
  padding: 0.5rem;
  border-radius: 0.25rem;
  --border-opacity: 1;
  border-color: #a0aec0;
  border-color: rgba(160, 174, 192, var(--border-opacity));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 1.25rem;
}

.list-area--branches {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom-width: 1px;
  border-style: dashed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

.list-area--branches--icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  --text-opacity: 1;
  color: #4299e1;
  color: rgba(66, 153, 225, var(--text-opacity));
  text-align: center;
}

.list-area--branches--type {
  width: 33.333333%;
  display: none;
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  text-align: center;
  --text-opacity: 1;
  color: #667eea;
  color: rgba(102, 126, 234, var(--text-opacity));
}

.list-area--branches--name {
  width: 50%;
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  text-align: left;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-area--branches--name:hover {
  --text-opacity: 1;
  color: #2b6cb0;
  color: rgba(43, 108, 176, var(--text-opacity));
}

.list-area--branches--active {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 25%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding: 0.25rem;
}

.list-area--branches--delete {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.list-area--branches--delete--btn {
  --bg-opacity: 1;
  background-color: #e53e3e;
  background-color: rgba(229, 62, 62, var(--bg-opacity));
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  font-size: 1.25rem;
  vertical-align: middle;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.list-area--branches--delete--btn:hover {
  --bg-opacity: 1;
  background-color: #c53030;
  background-color: rgba(197, 48, 48, var(--bg-opacity));
}

.list-area--branches--delete--type {
  font-weight: 300;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-opacity: 1;
  color: #f56565;
  color: rgba(245, 101, 101, var(--text-opacity));
  border-bottom-width: 1px;
  border-style: dashed;
  --border-opacity: 1;
  border-color: #c53030;
  border-color: rgba(197, 48, 48, var(--border-opacity));
}

.list-area--branches--pill {
  width: 25%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 300;
  border-width: 1px;
  border-style: dashed;
  border-radius: 9999px;
  padding: 0.25rem;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.repo-backdrop--codeview {
  padding: 1.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 100%;
}

.codeview {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 91.666667%;
  height: auto;
  padding: 1.5rem;
}

.codeview--toppane {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: block;
  margin-bottom: 20px;
}

.codeview--language {
  display: flex;
  width: 91.666667%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  grid-gap: 1rem;
  gap: 1rem;
}

.codeview--commits {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 91.666667%;
}

.codeview--commits--latest {
  display: flex;
  grid-gap: 2rem;
  gap: 2rem;
  align-items: center;
  vertical-align: middle;
}

.codeview--commits--latest--label {
  text-align: center;
  width: 16.666667%;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25rem;
  border-bottom-width: 4px;
  border-style: dashed;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.codeview--commits--latest--data {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  --bg-opacity: 1;
  background-color: #ebf4ff;
  background-color: rgba(235, 244, 255, var(--bg-opacity));
  --text-opacity: 1;
  color: #667eea;
  color: rgba(102, 126, 234, var(--text-opacity));
  font-size: 0.875rem;
  font-weight: 600;
}

.codeview--prismview {
  margin-bottom: 30px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;
}

.codeview--prismview--pre {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-width: 1px;
  border-radius: 0.25rem;
  overflow-x: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
  --text-opacity: 1;
  color: #e2e8f0;
  color: rgba(226, 232, 240, var(--text-opacity));
}

.codeview--prismview--pre::selection {
  --bg-opacity: 1;
  background-color: #a0aec0;
  background-color: rgba(160, 174, 192, var(--bg-opacity));
}

.repo-backdrop--commitlogs {
  padding: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  width: 100%;
  border-bottom-width: 8px;
  --border-opacity: 1;
  border-color: #7f9cf5;
  border-color: rgba(127, 156, 245, var(--border-opacity));
}

.commitlogs--toppane {
  display: flex;
  justify-content: space-between;
  --text-opacity: 1;
  color: #667eea;
  color: rgba(102, 126, 234, var(--text-opacity));
}

.commitlogs--toppane--label {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: auto;
  margin-right: auto;
}

.commitlogs--toppane--divider {
  padding: 0.25rem;
  height: auto;
  border-right-width: 1px;
}

.commitlogs--toppane--data {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-bottom-width: 2px;
  border-style: dashed;
}

.commitlogs--message {
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.commitlogs--bottompane {
  width: 91.666667%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-size: 1.25rem;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.commitlogs--bottompane--label {
  width: 33.333333%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  vertical-align: middle;
}

.commitlogs--bottompane--data {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-style: dashed;
  border-bottom-width: 4px;
}

.commitlogs--expand {
  width: 33.333333%;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.875rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 2.5rem;
}

.commitlogs--load-btn {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border-radius: 9999px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  --bg-opacity: 1;
  background-color: #667eea;
  background-color: rgba(102, 126, 234, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.commitlogs--loading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
  font-size: 1.125rem;
  font-weight: 600;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.commitlogs--files {
  width: 91.666667%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  --bg-opacity: 1;
  background-color: #ebf8ff;
  background-color: rgba(235, 248, 255, var(--bg-opacity));
}

.commitlogs--files--close {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  right: 0;
  float: right;
  font-weight: 300;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  --text-opacity: 1;
  color: #63b3ed;
  color: rgba(99, 179, 237, var(--text-opacity));
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.commitlogs--files--header {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
}

.commitlogs--files--list {
  display: block;
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.commitlogs--files--list--item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

.commitlogs--files--list--filename {
  width: 75%;
  font-size: 0.875rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.repo-backdrop--fetchpull {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  display: block;
}

.fetchpull--fetch-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91.666667%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
  text-align: center;
  border-bottom-width: 2px;
  border-style: dashed;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203, 213, 224, var(--border-opacity));
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  cursor: pointer;
  --text-opacity: 1;
  color: #7f9cf5;
  color: rgba(127, 156, 245, var(--text-opacity));
  border-radius: 0.5rem;
}

.fetchpull--fetch-global:hover {
  --text-opacity: 1;
  color: #5a67d8;
  color: rgba(90, 103, 216, var(--text-opacity));
  --border-opacity: 1;
  border-color: #718096;
  border-color: rgba(113, 128, 150, var(--border-opacity));
}

.fetchpull--select {
  border-width: 1px;
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.fetchpull--btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  --bg-opacity: 1;
  background-color: #7f9cf5;
  background-color: rgba(127, 156, 245, var(--bg-opacity));
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.fetchpull--btn:hover {
  --bg-opacity: 1;
  background-color: #5a67d8;
  background-color: rgba(90, 103, 216, var(--bg-opacity));
}

.fetchpull--loader {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border-width: 2px;
  border-style: dashed;
  --border-opacity: 1;
  border-color: #718096;
  border-color: rgba(113, 128, 150, var(--border-opacity));
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --text-opacity: 1;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.fetchpull--resukt {
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: #ebf4ff;
  background-color: rgba(235, 244, 255, var(--bg-opacity));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.repo-backdrop--switchbranch {
  width: 91.666667%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.switchbranch--alert--success {
  --bg-opacity: 1;
  background-color: #c3dafe;
  background-color: rgba(195, 218, 254, var(--bg-opacity));
  padding: 0.5rem;
  --border-opacity: 1;
  border-color: #5a67d8;
  border-color: rgba(90, 103, 216, var(--border-opacity));
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.switchbranch--alert--failed {
  --bg-opacity: 1;
  background-color: #fed7d7;
  background-color: rgba(254, 215, 215, var(--bg-opacity));
  padding: 0.5rem;
  --border-opacity: 1;
  border-color: #e53e3e;
  border-color: rgba(229, 62, 62, var(--border-opacity));
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.switchbranch--name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 1.25rem;
}