.dashboard--rightpane {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.rightpane--toparea {
  width: 91.666667%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: block;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  --bg-opacity: 1;
  background-color: #ebf8ff;
  background-color: rgba(235, 248, 255, var(--bg-opacity));
  border-width: 2px;
  --border-opacity: 1;
  border-color: #bee3f8;
  border-color: rgba(190, 227, 248, var(--border-opacity));
}

.rightpane--toparea--hc {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 2.5rem;
  gap: 2.5rem;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
}

.rightpane--toparea--hclabel {
  width: 50%;
  border-bottom-width: 2px;
  border-style: dashed;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.rightpane--toparea--hcpills {
  width: 66.666667%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  --bg-opacity: 1;
  background-color: #c6f6d5;
  background-color: rgba(198, 246, 213, var(--bg-opacity));
  --border-opacity: 1;
  border-color: #276749;
  border-color: rgba(39, 103, 73, var(--border-opacity));
  text-align: center;
  --text-opacity: 1;
  color: #22543d;
  color: rgba(34, 84, 61, var(--text-opacity));
  padding: 0.5rem;
  border-radius: 0.5rem;
}