name: Gitconvex React UI build pipeline for collaborators

on:
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 13.x, 12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm install tailwindcss 
      - run: npm i -g create-react-app tailwindcss@1.6.0
      - run: npm run build:tailwind
      - run: npm test && npm run build
