::selection {
    color: #fff;
    background: rgba(0, 0, 125, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.splash-logo__image {
    background: url('../assets/gitconvex.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}

.logo-label__title-first::first-letter {
    color: pink;
}